.body {
  height: 100vh;
  flex: 0.8;
  background: rgb(123, 123, 200);
  background: linear-gradient(
    0deg,
    rgba(91, 87, 115, 1) 16%,
    rgba(2, 0, 36, 1) 100%
  );
  overflow-y: scroll;
}

.body::-webkit-scrollbar {
  display: none;
}

.body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.body__header {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
}

.body__header__searchbar {
  background-color: white;
  border-radius: 55px;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 50%;
  height: 25px;
}

.body__header__searchbar > input {
  border: none;
  margin-left: 5px;
  width: 100%;
  overflow: hidden;
  outline: none;
}

.body__header__avatar {
  display: flex;
  align-items: center;
}

.body__header__avatar > p {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.body__center {
  display: flex;
}

.body__center__image > img {
  height: 15vw;
  width: 20vw;
  z-index: -1;
  margin-left: 40px;
  box-shadow: 0 4px 60p rgba(0, 0, 0, 0.5);
}

.body__center__imageText {
  display: none;
}

.body__center__description {
  align-self: flex-end;
  margin-left: 10px;
  color: white;
}

.body__center__description > h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.body__center__description > h3 {
  font-size: 30px;
}

.body__buttons {
  display: flex;
  align-items: center;
  color: white;
}

.body__buttons > .MuiSvgIcon-root {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.body__buttons > .MuiSvgIcon-fontSizeLarge {
  font-size: 60px;
  color: #1db954;
  transition: transform 100ms ease-in;
}

.body__buttons > .MuiSvgIcon-fontSizeLarge:hover {
  transform: scale(1.1);
}

.body__buttons > .MuiSvgIcon-fontSizeSmall {
  font-size: 30px;
}

.body__playlist {
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 5px;
  display: grid;
  grid-template-columns: 5% 60% 30% 5%;
  justify-content: flex-start;
  color: antiquewhite;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid rgba(211, 211, 211, 0.233);
  width: 97%;
}

.body__playlist__item:first-child {
  justify-self: center;
}

@media (max-width: 768px) {
  .body__header {
    margin: 30px 20px;
  }

  .body__header__searchbar {
    width: 60%;
    padding: 1vw;
    height: 3vh;
    min-height: 12px;
  }

  .body__header__avatar > .MuiAvatar-root {
    height: 5vw;
    width: 5vw;
  }

  .body__header__avatar > p {
    font-size: 2.2vw;
  }

  .body__header__searchbar > input {
    font-size: 1.8vw;
  }

  .body__center__description > h5 {
    font-size: 2vw;
  }

  .body__center__description > h3 {
    font-size: 3.5vw;
  }

  .body__center__description > p {
    font-size: 1.8vw;
  }

  .body__buttons > .MuiSvgIcon-root {
    margin-left: 2vw;
    margin-top: 2.3vh;
    margin-bottom: 2vh;
  }

  .body__buttons > .MuiSvgIcon-fontSizeLarge {
    font-size: 8vw;
  }

  .body__buttons > .MuiSvgIcon-fontSizeSmall {
    font-size: 4vw;
  }

  .body__buttons__moreHoriz {
    font-size: 3vw !important;
  }

  .body__playlist {
    font-size: 1.9vw;
    margin-bottom: 1.5vh;
    padding-bottom: 0.5vh;
  }

  .body__playlist__item:last-child {
    font-size: 3vw;
  }
}

@media (max-width: 590px) {
  .body__header {
    margin: 3vh 2vw;
  }

  .body__header__avatar > p {
    font-size: 2.5vw;
  }
  .body__header__searchbar > input {
    font-size: 2.1vw;
  }
}
