.body {
  flex: 0.8;
  background: rgb(123, 123, 200);
  background: linear-gradient(
    0deg,
    rgba(91, 87, 115, 1) 16%,
    rgba(2, 0, 36, 1) 100%
  );
  overflow-y: overlay;
}

.body__header {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px;
}

.body__header__searchbar {
  background-color: white;
  border-radius: 55px;
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 50%;
  height: 25px;
}

.body__header__searchbar > input {
  border: none;
  margin-left: 5px;
  width: 100%;
  outline: none;
}

.body__header__avatar {
  display: flex;
  align-items: center;
}

.body__header__avatar > p {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.body__center {
  display: flex;
}

.body__center__image > img {
  height: 20vw;
  z-index: -1;
  margin-left: 40px;
  box-shadow: 0 4px 60p rgba(0, 0, 0, 0.5);
}

.body__center__imageText {
  display: none;
}

.body__center__description {
  align-self: flex-end;
  margin-left: 10px;
  color: white;
}

.body__center__description > h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.body__center__description > h3 {
  font-size: 30px;
}

.body__buttons {
  display: flex;
  align-items: center;
  color: white;
}

.body__buttons > .MuiSvgIcon-root {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  cursor: pointer;
}

.body__buttons > .MuiSvgIcon-fontSizeLarge {
  font-size: 60px;
}

.body__buttons > .MuiSvgIcon-fontSizeSmall {
  font-size: 30px;
}

.body__playlists {
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
}

.body::-webkit-scrollbar {
  display: none;
}
