.footer {
  position: fixed;
  bottom: 0;
  width: 97%;
  height: 5vh;
  background-color: #474747;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.footer__left {
  display: flex;
  align-items: center;
  flex: 0.3;
  /* width: 300px; */
}

.footer__left > img {
  height: 60px;
  object-fit: contain;
  margin-right: 15px;
  width: 60px;
}

.footer__songInfo {
  margin-right: 15px;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
}

.footer__songInfo > p {
  font-size: 12px;
}

.footer__center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  flex: 0.4;
}

.footer_right {
  flex: 0.3;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.footer__icon {
  cursor: pointer;
}

.footer__icon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .footer {
    padding: 2vh 2vw;
  }
  .footer__left > img {
    height: 7vh;
    width: 7vh;
    object-fit: contain;
    margin-right: 1vw;
  }

  .footer__songInfo > h4 {
    font-size: 2.1vw;
    margin-bottom: 1vh;
  }

  .footer__songInfo > p {
    font-size: 1.7vw;
  }
}

@media (max-width: 500px) {
  .footer__songInfo {
    margin-right: 1.2vw;
  }

  .footer__songInfo > h4 {
    font-size: 12px;
  }

  .footer__songInfo > p {
    font-size: 10px;
  }
}

@media (max-width: 390px) {
  .footer__right {
    display: none;
  }

  .footer__songInfo {
    display: none;
  }

  .footer {
    justify-content: center;
  }
}
