.sidebarOption {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 200ms color ease-in;
  color: lightgray;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption > h5 {
  padding-left: 10px;
}
