.sidebarOption {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 200ms color ease-in;
  color: lightgray;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption > h5 {
  padding-left: 10px;
}

@media (max-width: 768px) {
  .sidebarOption {
    padding-left: 2vw;
  }
  .sidebarOption > h5 {
    padding-left: 1vw;
    font-size: 1.8vw;
  }
}

@media (max-width: 590px) {
  .sidebarOption > h5 {
    display: none;
  }
}
