.sidebar {
  background-color: black;
  flex: 0.2;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: overlay;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar > img {
  object-fit: contain;
  width: 60%;
  margin: 20px auto;
  align-self: center;
  cursor: pointer;
}

.sidebar > h3 {
  color: lightgray;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin: 15px 0 10px 20px;
  letter-spacing: 1px;
}

.sidebar__playlists {
  margin: 10px auto;
  padding-top: 10px;
  border-top: 1px solid rgb(35, 35, 35);
  align-self: center;
  width: 80%;
  margin-bottom: 25px;
}

.sidebar__playlists > p {
  padding-top: 5px;
  color: lightgray;
  cursor: pointer;
}
