.song {
  display: grid;
  grid-template-columns: 5% 60% 30% 5%;
  justify-content: flex-start;
  align-items: center;
  width: 97%;
  /* margin-left: 20px;
  margin-bottom: 20px; */
  margin: 0 auto;
  padding: 10px 0;
  font-size: 14px;
}

.song:hover {
  cursor: pointer;
  background-color: #373737;
  opacity: 0.8;
  padding-left: 10px;
}

.song_text {
  display: flex;
}

.song_text > img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  align-self: center;
}

.song_text_text .title {
  color: white;
  font-weight: 600;
}

.song_text_text .description {
  color: lightslategray;
}

.song_item {
  color: antiquewhite;
}
.song_item:first-child {
  justify-self: center;
}

@media (max-width: 768px) {
  .song {
    padding: 1vh 0;
    font-size: 1.7vw;
  }
  .song_text > img {
    width: 35px;
    height: 35px;
    margin-right: 2vw;
  }
}

@media (max-width: 500px) {
  .song_text > img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 390px) {
  .song_text > img {
    width: 25px;
    height: 25px;
  }
}
